@model List<ECOMMERCE2.Models.OrderSummaryViewModel>
@{
    ViewBag.Title = "Order History";
}
<partial name="_SinglePageHeaderPartial" />

<div id="wrapper" class="wrapper-fluid banners-effect-5">
    <div class="main-container container mt-5">
        <div class="row">
            <div id="content">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-center">Order ID</td>
                                <td class="text-center">Date Added</td>
                                <td class="text-right">Total Price</td>
                                <td class="text-center">Details</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@(item.OrderId)000</td>
                                    <td class="text-center">@item.OrderDate</td>
                                    <td class="text-right">$@item.TotalPrice.ToString("0.##")</td>
                                    <td class="text-center">
                                        <a class="btn btn-info" asp-controller="Order" asp-action="InsideOrderDetails" asp-route-id="@item.OrderId">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
