@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.AppName = "ShopWith!";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to @ViewBag.AppName</h1>

</div>
